*.npy
__pycache__/
checkpoints/
data/
results/
.ipynb_checkpoints/
logs/
*.png
*.json
wandb/
savings/
*.ipynb
figures/
diff_augs.py
reference.py 
orig_UCL/*
tiny-imagenet-processed.zip

run_continual.py
test.ipynb
stream.py

models/cassle_syn_act.py
models/cassle_syn_dist.py
models/cassle_syn_dm.py
models/cassle_syn_feat.py
models/cassle_syn_noise.py
models/cassle_syn.py
models/cassle_distill_factor.py
models/cassle_cluster_noise.py
models/cassle_cluster.py
models/cassle_cluster_noise_rc.py
models/cassle_replay.py

models/ours_dis_cluster.py
models/ours_dis_der.py
models/ours_dis_flex.py
models/ours_dis_mix_replay.py
models/ours_dis_mixup.py
models/ours_dis_replay_buf.py
models/ours_dis_replay_feat.py
models/ours_dis_replay_nolim.py
models/ours_dis_replay.py
models/ours_dis.py
models/ours_mix_replay.py
models/ours_sep_replay.py